@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}
div#iphone {
    width: 311px;
    height: 627px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    background-image: url(../imagens/frame-iphone.png);
    transform: translate(-50%, -50%);
}
body {
    background-image: url(../imagens/fundo-madeira.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
iframe {
    background-color: black;
    position: absolute;
    top: 12.9%;
    left: 7.2%;
    height: 470px;
    width: 266px;
}
div#icones img {
    width: 50px;
    border-radius: 50%;   
}
div#icones {
    text-align: right;
}
div#icones img {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    margin: 10px;
}